* text=auto !eol
grape/__init__.py -text
grape/recipe/__init__.py -text
grape/recipe/pipeline/__init__.py -text
grape/recipe/pipeline/prepare.py -text
grape/recipe/pipeline/tests/README.txt -text
grape/recipe/pipeline/tests/__init__.py -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/GEMIndices -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/bin -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/clean.sh -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/execute.sh -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/lib -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/read.list.txt -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/readData/testA.r1.fastq.gz -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/readData/testA.r2.fastq.gz -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/readData/testB.r1.fastq.gz -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/readData/testB.r2.fastq.gz -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/results -text
grape/recipe/pipeline/tests/buildout/parts/TestRun/start.sh -text
grape/recipe/pipeline/tests/buildout/src/flux/bin/flux.sh -text
grape/recipe/pipeline/tests/buildout/src/overlap/overlap -text
grape/recipe/pipeline/tests/buildout/var/pipeline/bin/flux.sh -text
grape/recipe/pipeline/tests/buildout/var/pipeline/bin/overlap -text
grape/recipe/pipeline/tests/test_prepare.py -text
/setup.py -text
