* text=auto !eol
/.travis.yml -text
/CHANGES.txt -text
/README.md -text
/README.rst -text
/README.txt -text
docs/Makefile -text
docs/make.bat -text
docs/source/conf.py -text
docs/source/index.rst -text
/version.txt -text
